body {
  margin: 0;
}

.navbar {
  background-color: #B9286B;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 20px;
}

.input-1 {
  outline: none;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 5px;
  width: 50%;
  padding: 7px 10px;
  font-size: 15px;
  color: rgb(105, 105, 105);
  display: block;
  margin: 10px auto;
}

.output-1 {
  background-color: rgba(131, 131, 131, 0.185);
  font-weight: 600;
  word-wrap: break-word;
  padding: 3px;
}

.button-1 {
  margin-top: 5px;
  padding: 7px;
  font-size: 15px;
  border: none;
  color: white;
  background-color: #B9286B;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
}

.outer-div {
  display: flex;
}

.inner-div {
  width: 30%;
  height: 200px;
  background-color: #29aae215;
  padding: 10px;
  margin: 10% auto;
  text-align: center;
  border-radius: 10px;
}

th, td {
  text-align: left;
  padding: 8px;
  width:100%;
}

td{
  background-color: #C2FFF9;
}

tr:nth-child(even) {
  background-color: Lightgreen;
}

tr:nth-child(odd) {
  background-color: #C2FFF9;
}

